.header {
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 100px;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
    object-fit: contain;
}

.header__search {
    display: flex;
    flex: 1;
}

.header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #f0c14b;
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__link {
    color: white;
    text-decoration: none;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
}

.header__option__lineOne {
    font-size: 10px;
}

.header__option__lineTwo {
    font-size: 13px;
    font-weight: 700;
}

.header__optionBasket {
    display: flex;
    align-items: center;
}

.header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
}