.login {
    background-color: white;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.login__logo {
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
}

.login__container {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgrey;
}

.login__container>h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.login__container>form>p {
    font-size: 12px;
    margin-top: 15px;
}

.login__container>form>h5 {
    margin-bottom: 20px;
}

.login__container>form>input {
    margin-bottom: 10px;
    height: 30px;
    background-color: white;
    width: 98%;
}

.login__signInButton {
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
}

.login__registerButton {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
}